# Python
__pycache__/
*.py[cod]
*$py.class
*.egg
*.egg-info/
dist/
build/
venv/
.venv/
env/
ENV/
pip-wheel-metadata/
.Python
celerybeat-schedule
celerybeat.pid

# Django
db.sqlite3
db.sqlite3-journal
staticfiles_collected/
# Эгер медиа файлдарды (колдонуучу жүктөгөн сүрөттөр ж.б.) репозиторийге кошпосоңуз:
mediafiles/ 

# Environment variables
.env
.env.*
!.env.example  # .env.example файлын кошобуз (эгер бар болсо)

# IDE / Editor specific
.vscode/
.idea/
*.project
*.pydevproject
*.sublime-workspace
*.sublime-project
nbproject/

# OS specific
.DS_Store
Thumbs.db
Desktop.ini

# Log files
*.log
logs/

# Test outputs
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.pytest_cache/
.hypothesis/